@page
@model ReviewBoardModel
@{
    ViewData["Title"] = "Review Board";
}

@* <form method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="search" class="form-control" value=""/>
                <span class="input-group-btn">
                    <button class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </form> *@

<div class="text-left">
    <h1 class="display-4">Review Requests</h1>
    <table class="mainTable" border="1" cellpadding="10">
        <tr>
            <th>Id</th>
            <th width="400">Description</th>
            <th>Owner</th>
            <th>Posted</th>
            <th>Last Updated</th>
        </tr>

        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Description</td>
                <td>@item.Owner.Name</td>
                <td>@item.PostTime</td>
                <td>@item.UpdateTime</td>
            </tr>

        }
    </table>
</div>
